* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
   /* background-color: rgba(217, 203, 203, 0.663);*/
   background-color: pink;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1 {
    margin-top: 10px;
    text-align: center; 
    background-color: yellowgreen;
}

#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    height: 500px;
    width: 500px;
    margin-top: 20px;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    padding-top: 10px;
}

.buttons > button {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 900;
    border-radius: 10%;
}
#select:hover, #reset:hover {
    transform : scale(1.2, 1.2);
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    flex: 1;
    background-color: blue;
    border: 2px solid black;
}